{% extends "layout.html" %}

{% block title %}Home - Alex Evans Website{% endblock %}

{% block content %}
<section>
    <div class="mt-8 mx-4 -space-y-px">
        <h2 class="mt-4 text-center text-sm text-neutral-200">
            Hi! I'm <span class="text-teal-500">Alex Evans</span> and <br />
            I'm a <span class="text-teal-500">Software Engineer</span> focused on <br />
            building <span class="text-teal-500">Healthcare Solutions</span>.
        </h2>
    </div>
</section>
{% endblock %}